.mybody {
	background-color : #FFFFFF;
	margin: 0px;
}
.error_validator {
	padding: 5px;
	color: #DD0000;
	TEXT-ALIGN: center;
	FONT-SIZE: 12px;
	FONT-WEIGHT: bold;
	FONT-FAMILY: Tahoma, Verdana, Geneva, Arial, Helvetica, sans-serif;
	TEXT-DECORATION: none;
}
.hint {
	color: #000000;
	TEXT-ALIGN: center;
	FONT-SIZE: 10px;
	width:200px;
	FONT-WEIGHT:normal;
	FONT-FAMILY: Arial, Helvetica, sans-serif;
	TEXT-DECORATION: none;
}
.myselect {
	BORDER-BOTTOM: #77BAD3 1px solid;
	BORDER-LEFT: #77BAD3 1px solid;
	BORDER-RIGHT: #77BAD3 1px solid;
	BORDER-TOP: #77BAD3 1px solid;
	FONT-FAMILY: Verdana, Geneva, Arial, Helvetica, sans-serif;
	FONT-SIZE: 12px;
	COLOR: #000000;
	height : 15px;
}


.input_text{
	BORDER-BOTTOM: #77BAD3 1px solid;
	BORDER-LEFT: #77BAD3 1px solid;
	BORDER-RIGHT: #77BAD3 1px solid;
	BORDER-TOP: #77BAD3 1px solid;
	FONT-FAMILY: Tahoma, Verdana, Geneva, Arial, Helvetica, sans-serif;
	FONT-SIZE: 11px;
	COLOR: #000099;
	height : 20px;
	width: 150px;
}

.input_textarea{
	BORDER-BOTTOM: #77BAD3 1px solid;
	BORDER-LEFT: #77BAD3 1px solid;
	BORDER-RIGHT: #77BAD3 1px solid;
	BORDER-TOP: #77BAD3 1px solid;
	FONT-FAMILY: Tahoma, Verdana, Geneva, Arial, Helvetica, sans-serif;
	FONT-SIZE: 12px;
	COLOR: #000099;
}

.myborder{
	BORDER-BOTTOM: #000099 1px solid;
	BORDER-LEFT: #000099 1px solid;
	BORDER-RIGHT: #000099 1px solid;
	BORDER-TOP: #000099 1px solid;
}

.input_button{
	BORDER-BOTTOM: #0B4363 1px solid;
	BORDER-LEFT: #B5E4FE 1px solid;
	BORDER-RIGHT: #0B4363 1px solid;
	BORDER-TOP: #B5E4FE 1px solid;
	FONT-FAMILY: Tahoma, Verdana, Geneva, Arial, Helvetica, sans-serif;
	FONT-SIZE: 12px;
	font-weight : bold;
	COLOR: #FFFFFF;
	height : 19px;
	background-color: #0000CC;
}

.errormsg{
	background-color: #AA0000;
	padding: 5px;
	color: #FFFFFF;
	padding: 5px;
	TEXT-ALIGN: center;
	FONT-SIZE: 11px;
	FONT-WEIGHT: bold;
	FONT-FAMILY: Tahoma, Verdana, Geneva, Arial, Helvetica, sans-serif;
	TEXT-DECORATION: none;
}
.confirmmsg{
	background-color: #990000;
	padding: 5px;
	color: #FFFFFF;
	TEXT-ALIGN: center;
	FONT-SIZE: 11px;
	FONT-WEIGHT: bold;
	FONT-FAMILY: Tahoma, Verdana, Geneva, Arial, Helvetica, sans-serif;
	TEXT-DECORATION: none;
}

.confirm_table{
	border: thin dotted #990000;
}

.infomsg{
	background-color: #009900;
	color: #FFFFFF;
	TEXT-ALIGN: center;
	FONT-SIZE: 11px;
	padding: 5px;
	FONT-WEIGHT: bold;
	FONT-FAMILY: Tahoma, Verdana, Geneva, Arial, Helvetica, sans-serif;
	TEXT-DECORATION: none;
}

.warningmsg{
	background-color: #F78A21;
	color: #FFFFFF;
	TEXT-ALIGN: center;
	FONT-SIZE: 11px;
	padding: 5px;
	FONT-WEIGHT: bold;
	FONT-FAMILY: Tahoma, Verdana, Geneva, Arial, Helvetica, sans-serif;
	TEXT-DECORATION: none;
}


.container_title{
	background-color: #000099;
	color: #FFFFFF;
	TEXT-ALIGN: center;
	FONT-SIZE: 11px;
	padding: 5px;
	FONT-WEIGHT: bold;
	FONT-FAMILY: Tahoma, Verdana, Geneva, Arial, Helvetica, sans-serif;
	TEXT-DECORATION: none;
}

.table_title{
	background-color: #000066;
	color: #FFFFFF;
	TEXT-ALIGN: center;
	FONT-SIZE: 11px;
	padding: 5px;
	FONT-WEIGHT: bold;
	FONT-FAMILY: Tahoma, Verdana, Geneva, Arial, Helvetica, sans-serif;
	TEXT-DECORATION: none;
}

.container_table{
	border: thin solid #000099;
}
.getall_table{
	border: thin solid #000099;
	width: 100%;
}
.normal_text{
	color: #000066;
	FONT-SIZE: 11px;
	FONT-FAMILY: Tahoma, Verdana, Geneva, Arial, Helvetica, sans-serif;
	TEXT-DECORATION: none;
	padding: 5px;
}
.bold_text{
	color: #000066;
	FONT-SIZE: 12px;
	FONT-WEIGHT: bold;
	FONT-FAMILY: Tahoma, Verdana, Geneva, Arial, Helvetica, sans-serif;
	TEXT-DECORATION: none;
	padding: 5px;
}

.section_title{
	color: #000000;
	FONT-SIZE: 12px;
	FONT-WEIGHT: bold;
	FONT-FAMILY: Tahoma, Verdana, Geneva, Arial, Helvetica, sans-serif;
	TEXT-DECORATION: none;
	padding: 5px;
}
.mylink{
	COLOR: #F78A21;
	FONT-SIZE: 12px;
	FONT-FAMILY: Tahoma, Verdana, Geneva, Arial, Helvetica, sans-serif;
	TEXT-DECORATION: none;
}

.mylink:hover{
	COLOR: #F78A21;
	FONT-SIZE: 12px;
	FONT-FAMILY: Tahoma, Verdana, Geneva, Arial, Helvetica, sans-serif;
	TEXT-DECORATION: underline;
}


.white_link{
	COLOR: #FFFFFF;
	FONT-SIZE: 12px;
	FONT-FAMILY: Tahoma, Verdana, Geneva, Arial, Helvetica, sans-serif;
	TEXT-DECORATION: none;
}

.white_link:hover{
	COLOR: #FFFFFF;
	FONT-SIZE: 12px;
	FONT-FAMILY: Tahoma, Verdana, Geneva, Arial, Helvetica, sans-serif;
	TEXT-DECORATION: underline;
}



















.news_title{
	FONT-FAMILY: Arial, Verdana, Geneva,  Helvetica, sans-serif;
	font-weight : bold;
	font-size : 12px;
	color : #038CDC;
}

.news_desc{
	FONT-FAMILY: Arial, Verdana, Geneva,  Helvetica, sans-serif;
	font-weight : normal;
	font-size : 12px;
	color : #666666;
}

.news_details{
	FONT-FAMILY: Arial, Verdana, Geneva,  Helvetica, sans-serif;
	font-weight:normal;
	font-size : 12px;
	color : #000000;
}


.vote_bar{
	BORDER-COLOR: #77BAD3;
	border-width: 1px;
	BORDER-BOTTOM: #77BAD3 1px solid;
	BORDER-LEFT: #77BAD3 1px solid;
	BORDER-RIGHT: #77BAD3 1px solid;
	BORDER-TOP: #77BAD3 1px solid;
	font-family : Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size : 8px;
	background : url(../images/default/box_title_bg.gif) repeat-x;
}
.table_action{
	background-color: #F78A21;
	color: #FFFFFF;
	TEXT-ALIGN: center;
	FONT-SIZE: 11px;
	padding: 5px;
	FONT-WEIGHT: bold;
	FONT-FAMILY: Tahoma, Verdana, Geneva, Arial, Helvetica, sans-serif;
	TEXT-DECORATION: none;
}
.div_text {
	padding: 5px;
}
